<html>
	<head>
		<link rel="stylesheet" href="../styles/main.css" />
		<link rel="stylesheet" href="../styles/home.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
		<title>Home | Rebbit</title>
	</head>
	<body>
		<div class="sticky">
			<div class="header">
				<div>
					<img onclick="location.href='/'" src="../assets/rebbit1-removebg-preview.png" />
					<h2>REBBIT | HOME</h2>
				</div>
				<div>
					<% if (nickname) { %>
					<button type="button" onclick="location.href='/userprofile'"><%= nickname %></button>
					<button type="button" onclick="location.href='/authentication/logout'">Log Out</button>
					<% } else { %>
					<button type="button" onclick="location.href='authentication/login'">Log In</button>
					<button type="button" onclick="location.href='authentication/signup'">Sign Up</button>
					<% } %>
				</div>
			</div>
			<div class="navigation">
				<% for (const row of queryAllThreadCategory) { %>
				<button type="button"><%= row.name %></button>
				<% } %>
			</div>
		</div>

		<div class="content">
			<% if (nickname) { %>
				<form class="thread-form" method="post" action="/thread/add">
					<div>
						<h2>Create Thread</h2>
					</div>
					<div>
						<input type="text" name="threadtitle" placeholder="Thread Title" />
						<textarea name="threadcontent" placeholder="Thread Content"></textarea>
					</div>
					<div>
						<select name="threadcategory">
							<option disabled selected>Select Category</option>
							<% for (const row of queryAllThreadCategory) { %>
							<option value="<%= row.id %>"><%= row.name %></option>
							<% } %>
						</select>
						<i class="fa fa-upload fa-lg" aria-hidden="true"></i>
						<Button type="submit">Post</Button>
					</div>
				</form>
			<% } %>
			<div class="thread-card">
				<% for (const row of queryAllThread) { %>
				<div class="content-card">
					<div class="container">
						<div class="thread-title">
							<h2><%= row.title %></h2>
						</div>
						<div class="thread-content">
							<p>THREAD CONTENT HERE</p>
						</div>
					</div>
				</div>
				<% } %>
				<div class="content-card">
					<div class="container">
						<div class="thread-title">
							<h2>Thread Title</h2>
						</div>
						<div class="thread-content">
							<p>Architect & Engineer</p>
						</div>
					</div>
				</div>
				<div class="content-card">
					<div class="container">
						<div class="thread-title">
							<h2>Thread Title</h2>
						</div>
						<div class="thread-content">
							<p>Architect & Engineer</p>
						</div>
					</div>
				</div>
				<div class="content-card">
					<div class="container">
						<div class="thread-title">
							<h2>Thread Title</h2>
						</div>
						<div class="thread-content">
							<p>Architect & Engineer</p>
						</div>
					</div>
				</div>
				<div class="content-card">
					<div class="container">
						<div class="thread-title">
							<h2>Thread Title</h2>
						</div>
						<div class="thread-content">
							<p>Architect & Engineer</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
