<html>
	<head>
		<link rel="stylesheet" href="../styles/main.css" />
		<link rel="stylesheet" href="../styles/home.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
		<title>Home Admin | Rebbit</title>
	</head>
	<body>
		<div class="sticky">
			<div class="header">
				<div>
					<img onclick="location.href='/'" src="../assets/rebbit1-removebg-preview.png" />
					<h2>ADMIN REBBIT | HOME</h2>
				</div>
				<div>
					<% if (user_nickname) { %>
					<button type="button" onclick="location.href='/userprofile'"><%= user_nickname %></button>
					<button type="button" onclick="location.href='/authentication/logout'">Log Out</button>
					<% } else { %>
					<button type="button" onclick="location.href='/authentication/login'">Log In</button>
					<button type="button" onclick="location.href='/authentication/signup'">Sign Up</button>
					<% } %>
				</div>
			</div>
			<div class="navigation">
                <button type="button">User Table</button>
                <button type="button">Thread List</button>
			</div>
		</div>
        <div class="table-of-user">
			<table>
				<tr>
					<th>No</th>
					<th>Name</th>
					<th>Nickname</th>
					<th>Email</th>
					<th>Role</th>
					<th>Moderator Set</th>
					<th>Ban Status</th>
				</tr>
				<%
				if(userData.length!=0){
					var i=1;
					userData.forEach(function(data){
				%>
				<tr>
					<td><%=i; %></td>
					<td><%= data.name %></td>
					<td><%= data.nickname %></td>
					<td><%= data.email_address %></td>
					<td><%= data.role %></td>
					<td><a href="">Set As Moderator</a></td>
					<td><a href="">Ban</a></td>
				</tr>
				<% i++; })%>
				<% } else{ %>
					<tr>
						<td colspan="7">No Data Found</td>
					</tr>
				<% } %>
			</table>
			<div class="table-of-thread">
				<table>
					<tr>
						<th>No</th>
						<th>Title</th>
						<th>Created Date</th>
						<th>Lock By</th>
						<th>Author</th>
						<th>Like Count</th>
					</tr>
					<%
					if(userData.length!=0){
						var i=1;
						userData.forEach(function(data){
					%>
					<tr>
						<td><%=i; %></td>
						<td><%= data.name %></td>
						<td><%= data.nickname %></td>
						<td><%= data.email_address %></td>
						<td><%= data.role %></td>
						<td><a href="">Set As Moderator</a></td>
						<td><a href="">Ban</a></td>
					</tr>
					<% i++; })%>
					<% } else{ %>
						<tr>
							<td colspan="7">No Data Found</td>
						</tr>
					<% } %>
				</table>
			</div>
        </div>
	</body>
</html>
