<html>
	<head>
		<%- include("./part_config.ejs") %>
		<link rel="stylesheet" href="../styles/userprofile.css" />
	</head>
	<body>
		<div class="sticky">
			<%- include("./part_header.ejs") %>
		</div>
		<div class="content">
			<div class="content-card">
				<h3>Profile</h3>
				<p>Username: <%= user_name %></p>
				<p>Joined on: <%= user_joined_date %></p>
			</div>
			<div class="content-card">
				<h3>Account Statistic</h3>
				<p>Number of threads: <%= threadCount %></p>
				<p>Number of replies: <%= replyCount %></p>
			</div>
		</div>
	</body>
</html>
