<% for (const row of replies) { %>
    <div class="thread-card">
        <div>
            <h2 class="clickable" onclick="location.href='/thread/<%= row.thread_id %>'"><%= row.title %></h2>
        </div>
        <div class="thread-content">
            <div>
                <p><%= row.thread_content %></p>
            </div>
            <div>
                <p><%= row.like_count %></p>
                <form method="post" action="/thread/<%= row.thread_id %>/<%= row.id %>/addLike">
                    <button type="submit" class="clickable">Like</button>
                </form>
            </div>
        </div>
    </div>
<% } %>