<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/thread.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Thread | Rebbit</title>
</head>
<body>
    <div class="sticky">
        <div class="header">
            <div>
                <img onclick="location.href='/'" src="../assets/rebbit1-removebg-preview.png" />
                <h2>REBBIT | THREAD</h2>
            </div>
            <div>
                <% if (user_nickname) { %>
                <button type="button" onclick="location.href='/userprofile'"><%= user_nickname %></button>
                <button type="button" onclick="location.href='/authentication/logout'">Log Out</button>
                <% } else { %>
                <button type="button" onclick="location.href='/authentication/login'">Log In</button>
                <button type="button" onclick="location.href='/authentication/signup'">Sign Up</button>
                <% } %>
            </div>
        </div>
        <div class="navigation">
            <% for (const row of queryAllThreadCategory) { %>
            <button type="button"><%= row.name %></button>
            <% } %>
        </div>
    </div>
    <div class="content">
        <div class="main-thread-card">
            <h1><%= queryAllThisThreadContent[0].title %></h1>
            <h4><%= queryAllThisThreadContent[0].nickname %></h4>
            <div class="thread-content">
                <div>
                    <p><%= queryAllThisThreadContent[0].thread_content %></p>
                </div>
                <div>
                    <p><%= queryAllThisThreadContent[0].like_count %></p>
                    <form method="post" action="/thread/<%= queryAllThisThreadContent[0].thread_id %>/<%= queryAllThisThreadContent[0].id %>/addLike">
                        <button type="submit" class="clickable">Like</button>
                    </form>
                </div>
            </div>
        </div>

        <% if (user_nickname) { %>
            <form class="form-card" method="post" action="/thread/<%= queryAllThisThreadContent[0].thread_id %>/addReply">
                <div>
                    <h2>Add Reply</h2>
                </div>
                <div>
                    <textarea name="replycontent" placeholder="Your Reply"></textarea>
                </div>
                <div>
                    <i class="fa fa-upload fa-lg" aria-hidden="true"></i>
                    <Button type="submit">Post</Button>
                </div>
            </form>
        <% } %>

        <% for (let i = 1; i < queryAllThisThreadContent.length; i++) { %>
        <div class="thread-card">
            <h4><%= queryAllThisThreadContent[i].nickname %></h4>
            <div class="thread-content">
                <div>
                    <p><%= queryAllThisThreadContent[i].thread_content %></p>
                </div>
                <div>
                    <p><%= queryAllThisThreadContent[i].like_count %></p>
                    <form method="post" action="/thread/<%= queryAllThisThreadContent[i].thread_id %>/<%= queryAllThisThreadContent[i].id %>/addLike">
                        <button type="submit" class="clickable">Like</button>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</body>

</html>